body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    background: linear-gradient(150deg, #5499C7, #E5E7E9);
    height: 100vh;
}

.busquedaAvanzada{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background:#E5E7E9;
    border-radius: 50px;
    }

    .busquedaAvanzada h1 {
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 1px solid silver;
    }

    .busquedaAvanzada form {
        text-align: center;
        padding: 0 40px;
        box-sizing: border-box;
    }

    input[type="submit"]{
        width: 40%;
        position: fixed;
        bottom: auto;
        left: 30%;
        height: 30px;
        border: 2px solid;
        background: #5499C7;
        border-radius: 15px;
        font-size: 18px;
        color: white;
        cursor: pointer;
        outline: none;
    }
    
input[type="submit"]:hover{
    border-color: #5499C7;
    transition: .5s;
    }

.form-inline{
    position: absolute;
    left: 80%;
    
}


footer {
    position: absolute;
    top: 97%;
    left: 50%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    width:100%;
    text-align: center;
    background: #AED6F1;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
    